body {
    margin: 0;
    padding: 0;
    font-family: times-new-roman;
    background-color: #fefaf6;
    scroll-behavior: smooth;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #151515;
    width: 95%;
    margin: 10px auto;
    height: 75px;
    border-radius: 35px;
    border-bottom: 4px solid #fefaf6;
}

.logo {
    padding-left: 20px;
}

.logo img {
    width: 80px;
    height: auto;
}

.logo img:hover {
    transform: scale(1.1);
    transition: .3s;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 40px;
    padding-right: 30px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #fefaf6;
}

nav ul li a:hover {
    text-decoration: underline;
    text-underline-offset: 12px;
    color: #fefaf6;
    transform: scale(1.3);
    transition: .3s;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: 30px auto;
}

.text-hero {
    padding-left: 30px;
    color: #fefaf6;
}

.img-hero img {
    width: 80%;
    border-radius: 60%;
    border-bottom: 6px gray;
}

.img-hero img:hover {
    transform: scale(.8);
    transition: .3s;
}

#about {
    width: 95%;
    margin: 50px auto;
    background-color: #151515;
    color: #fefaf6;
    border-radius: 20px;
}

#about h2 {
    color: #fefaf6;
    padding: 30px;
    text-align: center;
}

hr {
    width: 30%;
}

#about p {
    padding: 20px;
}

#product {
    width: 95%;
    margin: 40px auto;
}

#product h1 {
    color: #151515;
}

.product-card {
    width: 90%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card1 {
    width: 250px;
    text-align: center;
    border: 1px black;
    padding: 20px;
    background-color: antiquewhite;
    border-radius: 20px 0; 
    margin-top: 30px;
    box-shadow: 2px 4px 4px: black;
}

.card1 img {
    width: 100%;
    border-radius: 20px 0; 
}

.card1 img:hover {
    transform: scale(.9);
    transition: .4s;
}

.card1 a{
    padding: 10px 20px;
    background-color: #151515;
    color: whitesmoke;
    text-decoration: none;
}

.card1 a:hover {
    background-color: whitesmoke;
    color: #fefaf6;